@import "https://flyingcircus.io/fileadmin/global-data/fira/fira-small.css";

.highlight {
    background: var(--color-highlight-on-target);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-headings);
}

/* Layout */
.sidebar-logo {
    width: 80%;
    max-width: 300px;
    margin: 0;
}

.sidebar-container {
    box-sizing: border-box;
    width: 85%;
}

.toctree-l1,
ul,
ul ul {
    list-style-type: square;
}

li::marker {
    color: var(--color-brand-content);
}
