*.egg-info/
*.ova
*.qcow2
*.raw
.*.sw?
.coverage
.eggs/
.envrc
/*.sublime-*
__pycache__/
bin/
channels
dist/
doc/_build
lib64
pyenv
pyvenv.cfg
result
result-*
share/
target/
tmp/
/*.sublime-*
.envrc
pkgs/fc/agent/.envrc
pyenv
.vscode/settings.json
