<!--

A new changelog entry.

Delete placeholder items that do not apply. Empty sections will be removed
automatically during release.

Leave the XX.XX as is: this is a placeholder and will be automatically filled
correctly during the release and helps when backporting over multiple platform
branches.

-->

### Impact

- A bullet item for the Impact category.


### NixOS XX.XX platform

- A bullet item for the NixOS XX.XX platform category.
